body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.page-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.navigation-site-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  font-size:18px;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.navigation-site-logo_studio {
  color: #2e2f42;
}

.navigation-pages-listItem {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  list-style-type: none;
}

.navigation-listItem-links {
  text-decoration: none;
  color: #2e2f42;
}

.navigation-addresses {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  
}

.nav-address-listItems {
  list-style-type: none;
}

.nav-address-mail {
  text-decoration: none;
  color: #434455;
}

.nav-address-phone {
  text-decoration: none;
  color: #434455;
}

.hero-section {
  background-color: #2e2f42;
  color: #ffffff;
  height: 600px;
  width: 1440px;
}

.order-service-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  width: 169px;
  height: 56px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.order-service-button:focus{
  background-color: #404BBF;
}

.order-service-button:hover{
  background-color: #404BBF;
}

.features-section {
  width: 1128px;
  height: 104;
}

.feature-listItems{
  list-style-type: none;
}


.feature-titles {
  color: #2e2f42;
  font-weight: 500;
  line-height: 24px;
}

.feature-texts{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}



.ourteam-listItems{
  list-style-type: none;
}

.porfolio-listItems{
  list-style-type: none;
}

.our-team-section {
  background-color: #f4f4fd;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.associate-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2e2f42;
}

.associate-positions {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.portfolio-section {
  background-color: #e7e9fc;
}

.portfolio-title {
  font-weight: 700;
  color: #2e2f42;
  font-size: 36px;
  line-height: 40px;
}

.porfolio-solutions {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.porfolio-solution-genres {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  width: 1440px;
  height: 312px;
}

.footer-site-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-site-logo_studio {
  color: #f4f4fd;
}


.footer-text{
  line-height: 1.5;
  letter-spacing: 0.02em;
}